.center-text {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}


.heading, h3 {
  font-family: 'Montserrat', sans-serif;
}

.subheading, .instructions {
  font-family: 'Thasadith', sans-serif;
  color: grey;
}

#example-transfer-container {
  display: grid;
}

.example-transfer-grid {
  display: grid;
  grid-template: "input result result"
                 "style result result";
  grid-gap: 10px;
}

.example-transfer-grid-input {
  grid-area: input;
}

.example-transfer-grid-style {
  grid-area: style;
}

.example-transfer-grid-result {
  grid-area: result;
}

.transfer-inputs {
  height: 250px;
  width: 250px;
}

.transfer-output {
  height: 500px;
  width: 500px;
}

#try-button {
    border: solid grey 1px;
    border-radius: 10%;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    color: #327068;
    margin: 5px;
}

#try-button a:link, a:visited {
    border: grey;
}

a#try-button:hover {
    border: solid #327068 1px;
}

#create-transfer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.create-transfer-input-section, .create-transfer-style-section, #create-transfer-result-section {
  border-radius: 10%;
  padding: 30px;
  width: 460px;
    /* border: solid 1px dimgrey; */
}

.create-transfer-input-section {
  background-color: aliceblue;
  display: grid;
  margin: 15px;
}

.create-transfer-style-section {
  background-color: lavender;
  display: grid;
  margin: 15px;
}

#create-transfer-input-image, .create-transfer-style-image, .button-section, #result-image-container {
  display: flex;
  justify-content: center;
}

#create-transfer-result-section {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  padding: 15px;
}

#result-image-container img {
  width: 400px;
  height: 400px;
}
